import os

API_DOMAIN_NAME = os.getenv('API_DOMAIN_NAME', 'microcosm.app')
API_PATH = 'api'
API_SCHEME = os.getenv('API_SCHEME', 'https://')
API_VERSION = 'v1'
CLIENT_ID = 1
CLIENT_SECRET = 'CHANGE THIS STRING TO BE A RANDOM SECRET FOR THIS CLIENT'
DEBUG = True
MEMCACHE_HOST = os.getenv('MEMCACHE_HOST', '127.0.0.1')
MEMCACHE_PORT = os.getenv('MEMCACHE_PORT', 11211)
PAGE_SIZE = 25
RIEMANN_ENABLED = False
RIEMANN_HOST = ''
SECRET_KEY = 'CHANGE THIS STRING TO BE A RANDOM SECRET FOR THIS CLIENT'
STATIC_ROOT = '/srv/www/django/microweb/static/'
TEMPLATE_DEBUG = False

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s'
        },
    },
    'handlers': {
        'stdout':{
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'verbose'
        },
    },
    'loggers': {
        'django': {
            'handlers': ['stdout'],
            'level': 'DEBUG',
            'propagate': True,
        },
        'django.request': {
            'handlers': ['stdout'],
            'level': 'DEBUG',
            'propagate': True,
        },
        'core.views': {
            'handlers': ['stdout'],
            'level': 'DEBUG',
            'propagate' : True,
        },
        'core.middleware': {
            'handlers': ['stdout'],
            'level': 'DEBUG',
            'propagate' : True,
        }
    }
}
